<h1>Chat</h1>

<form method="POST" action="/messages">
  <label for="usuario">Usuario:</label>
  <input type="email" id="usuario" name="usuario" required>

  <label for="mensaje">Mensaje:</label>
  <input type="text" id="mensaje" name="mensaje" required>
  
  <button type="submit">Enviar Mensaje</button>
</form>